@model IEnumerable<OnlineLibraryApplication.Models.UserHistory>

@{
    ViewBag.Title = "My Returned Books";
}

<h2>My Returned Books</h2>
<table class="table">
    <tr>

        <th>
            @Html.DisplayName("Book Title")
        </th>
        <th>
            @Html.DisplayName("Return Date")
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.BookStatus.BookInfo.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChangeTime)
        </td>
        
     
    </tr>
}

</table>
